@media screen and (max-width:414px) {

    /* ----------- RWD_footer ----------- */

    .footer{
        width: auto;
        display: block;
    }

    .footer-logo{
        height: 150px;
        width: 160px;
        margin: auto;
        overflow: hidden;
    }
    
    .footer-logo img{
        margin: 30px auto;
        width: 100px;
    }

    .footer-info .info-access{
        height: 100px;
        font-size: 12px;
        margin: 0px auto 100px;
        text-align: center;
    }
    
    .footer-info::before{
        width: 200px;
        height: 1px;
    
        bottom: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-info::after{
        width: 250px;
        font-size: 12px;

        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .footer-info .info-sns{
        width: 200px;
        height: 30px;
        text-align: center;
    
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-info .info-sns img{
        width: 20px;
    }

    /* ----------- RWD_hambur ----------- */

    .hambur{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;  
    }

    .header-menu li{
        display: none;
    }

    .header-menu .menu_open{
        display: block;
    }
    
    /* ----------- RWD_header ----------- */

    .header-top{
        height: 75px;
    }
    
    .header-top:before{
        height: 75px;
        clip-path: none;
    } 
    
    .header-menu{
        width: auto;  
    }

    .header-menu .logo{
        width: 120px;
        height: 150px;        
    }

    .header-menu .logo img{
        width: 90px;
        padding: 20px 15px 0 15px;
    }

    .header-menu ul{
        display: block; 
        top: 75px;
    }
    
    .header-menu ul::before{
        font-size: 48px;
    
        left: -90px;
        bottom: -475px;
    }
    
    .header-menu li a{
        background-color: rgb(25, 41, 124, 80%);
    }

    .header-menu li a:before{
        display: none;
    }

    /* ----------- RWD_header bottom ----------- */

    .header-bottom{
        clip-path: polygon(0 50%, 100% 70%, 100% 100%, 0% 100%);  
    }

}