@import url(reset.css);

body{
    background-color: #fff;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Public Sans', sans-serif;
}


/* --------- header top --------- */
header{
    margin: auto;
    width: 100%;
    height: 650px;
    background-image: url("../IMG/course/top_bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;

    position: relative;
}
.header-top{
    height: 75px;
    background-color:#19297C;
    
    position: relative;
    
    
}

.header-top:before{
    content: '';
    display: block;
    height: 150px;
    background-color: rgb(25, 41, 124, 50%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%); 
}


.header-menu{
    width: 1366px;
    margin: auto;
    display: flex;
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    
}


.header-menu .logo{
    width: 200px;
    height: 250px;
    background-color: #fff;
    display: block;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    
}

.header-menu .logo img{
    width: 150px;
    margin: auto;
    padding-top: 40px;
    display: block;
}

.header-menu ul{
    display: flex;
    margin-left: auto;
    width: 800px;
    height: 75px;
    
    position: relative;
}

.header-menu ul::before{
    content: 'COURSE';
    color: #fff;
    font-size: 64px;
    font-weight: bold;



    position: absolute;
    bottom: -520px;
    left: -500px;
    z-index: 99;
}



.header-menu li{
    flex-grow: 1;
}

.header-menu li a{
    line-height: 75px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
}

.header-menu li a:before{
    content: '';
    display: block;
    width: 3px;
    height: 30px;
    background-color: #fff;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; 
}

.header-menu li:nth-child(1)>a:before{
    display: none;
}

.header-menu li a:hover{
    color: yellow;
}

/* --------- header bottom --------- */


.header-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
    clip-path: polygon(0 20%, 100% 70%, 100% 100%, 0% 100%);

     
}


.header-bottom img{
    display: block;
    right: 0;
    left: 0;
    margin: auto;
}

/* ------------- course-map ------------- */

.map-bg{
    background-image: url(../IMG/contour_map_light.png);
    background-repeat: no-repeat;
    background-position: center;
}

.course-map{
    width: 1366px;
    height: 800px;
    margin: auto;
    display: flex;
}
/* ------------- map-icon ------------- */
.course-map .map-icon{
    flex-grow: 1;
    align-self: center;
}

.course-map .map-icon ul{
    height: 650px;
}


.course-map .map-icon li{
    width: 500px;
    height: 100px;
    display: flex;
    margin-top: 50px;
}

.course-map .map-icon li:nth-child(2n+1){
    width: 400px;
    margin-left: 450px;
}


.course-map .map-icon img{
    height: 100px;
}

.course-map .map-icon span{
    font-size: 30px;
    line-height: 100px;
    margin-left: 50px;
}
/* ------------- map-pic ------------- */
.course-map .map-pic{
    height: 650px;
    align-self: center;
}
.course-map .map-pic img{
    width: 500px;
    margin: auto;
    display: block;
}


/* ------------- course-info ------------- */

.course-info{
    width: 1366px;
    display: flex;
    margin: auto;
    color: #fff;
    font-size: 24px;
}

.course-info .info-left{
    flex-grow: 1;
    width: 683px;
}

.course-info .info-right{
    flex-grow: 1;
    width: 683px;
}

.course-info .box{
    width: 683px;
    height: 200px;
    margin-bottom: 100px;
}

.course-info .box-g{
    background-color: #008715;
}

.course-info .box-r{
    background-color: #EC0000;
}

.course-info .box-b{
    background-color: black;
}

.course-info .info-left .box{
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.course-info .info-right .box{
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.course-info .info-left .box-g{
    margin-top: 150px;
}
.course-info .info-right .box{
    margin-top: 50px;
}

.course-info .box li{
    padding-top: 40px;
    display: flex;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.course-info .box span{
    width: 200px;
}

.course-info .name{
    font-size: 50px;
    
    position: relative;
}
.course-info .name::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #fff;
    
    position: absolute;
    left: 50px;
    bottom: -10px;
}
.course-info .level{
    font-weight: bold;
    color: white;
    position: relative;
}

.course-info .level::before{
    content: '';
    display: block;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255, 50%);

    position: absolute;
    left: 50px;
    z-index: -1;
}

.course-info .box .empty{
    width: 83px;
}

.course-info .high{}
.course-info .long{}
.course-info .max-deg{}
.course-info .avg-deg{}

/* --------- footer --------- */

footer{
    height: 400px;
    background-color: #19297C;
}

.footer{
    width: 1366px;
    margin: auto;

    display: flex;
}

.footer-logo{
    height: 400px;
    flex-grow: 1;
}

.footer-logo img{
    width: 200px;
    display: block;
    margin: 110px auto;
}

.footer-info{
    flex-grow: 5;
    display: flex;

    position: relative;
}

.footer-info::before{
    content: '';
    display: block;
    width: 950px;
    height: 2px;
    background-color: #fff;

    position: absolute;
    bottom: 120px;
    left: 100px;
}

.footer-info::after{
    content: '本網站為緯育TibaMe前端設計工程師班第76期學員專題作品，本平台僅供學習、展示之用。';
    display: block;
    width: 950px;
    color: #fff;
    text-align: center;

    position: absolute;
    bottom: 70px;
    left: 100px;
}

.footer-info .info-access{
    color: #fff;
    height: 150px;
    font-size: 24px;
    line-height: 2;
    margin: 100px 0 0 100px;
    
    flex-grow: 2;
}

.footer-info .info-sns{
    height: 150px;
    margin: 100px 30px;
    
    flex-grow: 1;
}

.footer-info .info-sns img{
        width: 50px;
        margin: 80px 20px 0;
}
