@media screen and (max-width:428px){

    /* header{
        margin: auto;
        width: 100%;
        height: 650px;
        background-image: url("../IMG/access/top_bg.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        background-position: top center;
    
        position: relative;
    
        overflow: hidden;
    } */


    .header-top{
        height: 40px;
    }
    
    .header-top:before{
        height: 80px;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%); 
    }
    
/*     
    .header-menu{
        width: 1366px;
        margin: auto;
        display: flex;
        
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        
    }
 */




    .header-menu .logo{
        width: 120px;
        height: 150px;        
    }

    
    .header-menu .logo img{
        width: 90px;
        padding-top: 20px;
    }











}