@import url(reset.css);

body{
    background-color: #fff;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Public Sans', sans-serif;
}


/* --------- header top --------- */
header{
    margin: auto;
    width: 100%;
    height: 650px;
    background-image: url("../IMG/school/top_bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;

    position: relative;
}
.header-top{
    height: 75px;
    background-color:#19297C;
    
    position: relative;
    
    
}

.header-top:before{
    content: '';
    display: block;
    height: 150px;
    background-color: rgb(25, 41, 124, 50%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%); 
}


.header-menu{
    width: 1366px;
    margin: auto;
    display: flex;
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    
}


.header-menu .logo{
    width: 200px;
    height: 250px;
    background-color: #fff;
    display: block;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    
}

.header-menu .logo img{
    width: 150px;
    margin: auto;
    padding-top: 40px;
    display: block;
}

.header-menu ul{
    display: flex;
    margin-left: auto;
    width: 800px;
    height: 75px;
    
    position: relative;
}

.header-menu ul::before{
    content: 'SCHOOL';
    color: #fff;
    font-size: 64px;
    font-weight: bold;



    position: absolute;
    bottom: -520px;
    left: -500px;
    z-index: 99;
}



.header-menu li{
    flex-grow: 1;
}

.header-menu li a{
    line-height: 75px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
}

.header-menu li a:before{
    content: '';
    display: block;
    width: 3px;
    height: 30px;
    background-color: #fff;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; 
}

.header-menu li:nth-child(1)>a:before{
    display: none;
}

.header-menu li a:hover{
    color: yellow;
}

/* --------- header bottom --------- */


.header-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
    clip-path: polygon(0 20%, 100% 70%, 100% 100%, 0% 100%);
}


.header-bottom img{
    display: block;
    right: 0;
    left: 0;
    margin: auto;
}


/* ---------------- intro ---------------- */

.intro{
    width: 1366px;
    height: 1200px;
    margin: auto;
}

.intro h3{
    font-size: 48px;
    width: 800px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: 100px;
}

.intro1{
    display: flex;    
    margin-top: 70px;

    position: relative;
}

.intro1::after{
    content: '';
    width: 1000px;
    height: 60px;
    background-color: orange;
    position: absolute;
    bottom: -30px;
    right: -200px;
    z-index: -1;

    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.intro2{
    display: flex;
    margin-top: 150px;
    position: relative;
}

.intro2::after{
    content: '';
    width: 1000px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    bottom: -30px;
    left: -200px;
    z-index: -1;

    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}

.intro img{
    width: 500px;
}
.intro p{
    width: 600px;
    font-size: 24px;
    line-height: 1.5;
    align-self: center;
}

.intro1 p{
    margin-right: 100px;
    margin-left: auto;
}

.intro2 p{
    margin-left: 100px;
}

/* ---------------- lesson ---------------- */

.lesson-bg{
    background-image: url("../IMG/school/lesson-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 1320px;    
    padding-top: 100px;
    box-sizing: border-box;
}

.lesson{
    width: 1366px;
    height: 1120px;
    background-color: rgb(255, 255, 255, 50%);
    margin: auto;
    box-sizing: border-box;
    padding-top: 350px; 
}

.lesson .lesson-fee{
    /* border: 1px solid orange; */
    width: 1000px;
    height: 250px;
    margin: auto;
}

.lesson .lesson-fee img{
    width: 100%; 
}

.lesson .lesson-notice{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}

.lesson .lesson-notice h4{
    border-bottom: 3px solid black;
    font-size: 48px;
    text-align: center;
    margin: 50px auto;
    height: 60px;
    width: 300px;
}

.lesson .lesson-notice p{
    font-size: 24px;
    line-height: 1.6;
}


/* --------- footer --------- */

footer{
    height: 400px;
    background-color: #19297C;
}

.footer{
    width: 1366px;
    margin: auto;

    display: flex;
}

.footer-logo{
    height: 400px;
    flex-grow: 1;
}

.footer-logo img{
    width: 200px;
    display: block;
    margin: 110px auto;
}

.footer-info{
    flex-grow: 5;
    display: flex;

    position: relative;
}

.footer-info::before{
    content: '';
    display: block;
    width: 950px;
    height: 2px;
    background-color: #fff;

    position: absolute;
    bottom: 120px;
    left: 100px;
}

.footer-info::after{
    content: '本網站為緯育TibaMe前端設計工程師班第76期學員專題作品，本平台僅供學習、展示之用。';
    display: block;
    width: 950px;
    color: #fff;
    text-align: center;

    position: absolute;
    bottom: 70px;
    left: 100px;
}

.footer-info .info-access{
    color: #fff;
    height: 150px;
    font-size: 24px;
    line-height: 2;
    margin: 100px 0 0 100px;
    
    flex-grow: 2;
}

.footer-info .info-sns{
    height: 150px;
    margin: 100px 30px;
    
    flex-grow: 1;
}

.footer-info .info-sns img{
        width: 50px;
        margin: 80px 20px 0;
}